@model QueueControlServer.ViewModels.Queue.CreateQueueViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Queue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QueueName" class="control-label"></label>
                <input asp-for="QueueName" class="form-control" />
                <span asp-validation-for="QueueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factory" class="control-label">Завод</label>
                <select asp-for="OrganizationId" asp-items="ViewBag.Factory"></select>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Марка цемента</label>
                <select asp-for="GoodsParameterId" asp-items="ViewBag.Brand"></select>
            </div>
            <div class="form-group">
                <label asp-for="Package" class="control-label">Вид упаковки</label>
                <select asp-for="PackageParameterId" asp-items="ViewBag.Package"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
